# Produced at runtime
data/**.bin
results/numeric_results/p0/**.bin
results/numeric_results/p1/**.bin
results/p0/**.txt
results/p1/**.txt

# Produced at compile time
**/target
**/Cargo.lock

# No HUP
frontend/nohup.out